@font-face {
    font-family: 'Courgette';
    src: url(/Fonts/Courgette/Courgette-Regular.ttf);
}

* {
    font-family: "eurostile", sans-serif;
    --principal-color: #71A6DC;
    --principal-color-claro: #71a7dc30;
    --bg-opacity: rgba(0, 0, 0, 0.374);
}

body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: .7rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.focus-section {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#home {
    background-image: url('../images/presentacion.jpg');
}

#home > div {
    background-color: var(--bg-opacity);
    text-shadow: 0 0 .6rem black;
}

#about {
    background-color: var(--principal-color);
}

#about * {
    text-shadow: 0 0 .16rem black;
    font-family: Courgette;
}

#imgAlbert {
    height: 12.5rem;
    background-size: cover;
    box-shadow: 0 0 3rem 0 black;
}

#contact .card {
    width: 50%;
    min-width: 20rem;
    max-width: 40rem;
}

#skills * {
    box-sizing: initial !important;
}

#skills > div {
    padding: .6rem 0;
}

#skills > div:nth-child(2n) {
    background-color: #f1f1f1;
}

#skills h2,
#contact h2 {
    font-family: Courgette;
    font-size: 2.5rem;
}

.tecnologias {
    background-color: aliceblue;
    max-width: 30rem;
    min-width: 15rem;
    box-shadow: 0 8px 40px rgba(0, 0, 0, .1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* box-shadow: 0 .2rem .6rem 0 #939393; */
}

.tecnologia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    flex-direction: column;
    background-color: var(--principal-color-claro);
    border-radius: 50%;
    width: 5rem !important;
    max-width: 5rem !important;
}

.tecnologia img {
    max-height: 6.2rem;
    width: 100%;
    min-width: 5.6rem;
    transition: .1s;
}

.tecnologia img:hover {
    filter: drop-shadow(0 .1rem .3rem var(--bg-opacity));
    transition: .1s;
}

.tecnologia span {
    word-wrap: break-word;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 0;
}